name: Lint and test

on: [push]

jobs:
  Lint-and-test:
    runs-on: ubuntu-18.04
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 .
    - name: Install Protobuf
      run:
        pip install protobuf==3.19.0
    - name: Install onnx==1.7.0 onnxruntime and onnxsim
      run:
        pip install onnxruntime onnx-simplifier
    - name: Install MQBench
      run: |
        python setup.py develop
    - name: Test with pytest
      run: |
        pip install pytest
        pytest test --junitxml=report.xml
